body
{
    color:#FFFFFF;
    background-color: #333333;
    margin: 0;
    overflow: hidden;
}

#container
{
    position: absolute;
}

#msg
{
    font-family: Arial, Helvetica, sans-serif;
    padding-top:20px;
    padding-left:100px;
    position: absolute;

}



